
.blog-top{
  background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(122, 187, 154), rgb(255, 255, 255));
  background-size: contain;
  min-height: 480vh;
  max-width: 100vw;
}
.blog-slider img{
  border-radius: 10px;
}
.blog-image img{
   width: 95%;
   border-radius: 5px;
}
.blog-image img:hover{
  opacity: .9;
}

.blog-caption{

  float: left;
  padding-left: 5px;
  margin-top: -2%;
  max-width: 300px;
  text-align: justify;
  height: fit-content;
}

.blog-caption h3{
  font-weight: lighter;
  color: rgb(3, 19, 11);
}

.link-readmore{
 text-decoration:none ;
 color:rgb(24, 107, 66);
 font-size:15px;
}

.link-readmore:hover{
  font-weight: bold;
  color: green;
}

.blog-top hr{
  background: linear-gradient(to right, rgb(203, 224, 203),rgb(255, 255, 255),rgb(195, 219, 185), rgb(183, 223, 196));
  height: 1px;
  border-style: hidden;
}
.main{
  border-style: double;
  border-style:hidden;
  position: absolute;
  left:4%;
  top:13%;
  max-width: 60%;
  font-size:80%;
  text-align:left;
  color: rgb(4, 22, 10);
  font-family:monospace;
  font-weight:bolder;

}

.blogdata{
  
  display: flex;
  margin-top: 100px;
  padding-right: 10px;

}
.blog-header{
  position: relative;
  top: 70px;
  left: 1%;
}
.blog-header h2{
 
  color: rgb(4, 22, 13);
  font-weight: lighter;
  font-size: 30px;
}
.blog-header h2:hover{
  opacity: .9;
  color: rgb(23, 80, 23);
}
.blog-header p1{
  float: left;
  color: rgb(1, 68, 31);
  font-weight: lighter;
  padding-left: 5px;
  margin-top: 2px;
}
.blog{
  width: 65vw;
  border-radius: 20px;
}

.blog-slider{

  width: 49%;
  margin-left: 50%;
  padding-top: 5%;
}

   .top{
    padding-left: 12vw;
    padding-top: 90px;
    margin-bottom: 0px;
    background-color:inherit;   
   }
  
   .top input{
    width: 110px;
    background-color: inherit;
    ;
    border-style:inherit;
}
.avatar-blog{ 
  float: left;
  margin-top:75px;
  margin-left:4vw;

}
.top button{
  width: 30px;
  height: 37px;
  border-style: hidden;
  background-color: inherit;
  cursor: pointer;
}
.top button:hover{
  color: rgb(54, 131, 54);
}
.top-ul{
  display: flex;
  margin-left: 45vw;
  width: 48vw;

}
.top-ul> li{
  list-style: none;
  padding-left: 30px;
}
.top-ul a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 18px;
  
  font-weight: lighter;

}
.top-ul a:hover{
  color: rgb(60, 134, 57);
}
  

  .RandomQoutes{
    border-left-style: outset;
    border-width: thin;
    border-left-color: rgb(180, 228, 174);
    height: 100vh;
    padding-left: 40px;
    opacity: 0.8;
    position: absolute;
    text-shadow: 3px 3px 3px rgb(187, 233, 187);
    top:350px;
    right: 30px;
    text-align:center;
    font-style: oblique;
    font-size: 115%;
    color: rgb(5, 20, 3);
    font-weight: lighter;
  
  }

  .pagination {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
    margin-left: 70%;
  }
  
  .pagination a {
    color: black;
    float: left;
    font-size: 16px;
    text-decoration: none;
  }
  


