
.feed{
    width: 100%;
    margin-left: 0%;
    min-height: fit-content;
    margin-top: 10px;
    
}
.comment{
    border-width: thin;
    white-space: pre-line;
    margin-left: 0%;
    border-radius: 5%;
    padding: 20px;
}
.comment p{
    color: rgb(3, 19, 3);
    font-size: 13px;
    font-family: inherit;
    max-width: 400px;
}
.comment p1{
  position: relative;  
  top: 10px;
  padding-left: 7px;
  color: rgb(10, 49, 41);
  font-size: 19px;
  font-family: inherit;
}
.flex-comment{
    display: flex;
    width: 25%;
}
.flex-comment p2{
    font-size: 9px;
    margin-top: 18px;
    margin-left: 5px;
    min-width: 70px;
    
    font-weight: lighter;
    color: rgb(0, 10, 10);
    font-family: inherit;
}
.comment-text{
    display: flex;
    width: fit-content;
    padding: 10px;
    margin-left: 10%;
}
.comment p2{
    padding-top: 0px;
    float: right;
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
.comment hr{
    background: linear-gradient(to right, rgb(227, 238, 232),rgb(245, 242, 242), rgb(224, 208, 185));
    height: 1px;
    border-style: hidden;
  }